


<footer class="  border-top  bg-dark ">
    <div class=" pt-3 mx-2 d-flex align-items-center justify-content-center">
      
      <p class="text-white">© <span id="showYear"> </span> lms.nandysagar.in - All right reserved. <br> <span class="mx-4"> Design & Developed By <a href="https://nandysagar.in/">Sagar Nandy</a></span> </p>
    </div>

    
  </footer>


  <script>

    const year = new Date().getFullYear();
    console.log(year);
    document.getElementById('showYear').innerHTML = year ;
    
    </script>