 <!-- preloader -->

 <div id="loading">

    <div class="spinner-border border-3 text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  
  </div>
  
  <!-- preloader ends -->